<div>
  {{!-- CSS obviously --}}
  <image src="images/scene-{{id}}.png" style="height: 400px; display: block"/>

  <p>{{text}}</p>

  <div class="choices">
    {{#each choices}}
      <button data-scene-id="{{sceneId}}" class="btn btn-primary">{{description}}</button>
    {{/each}}
  </div>

  {{!-- TODO use <source> tags instead? --}}
  <audio preload="auto">
    <source src="audio/scene-{{id}}.m4a" type="audio/x-m4a" />
  </audio>
</div>